SECRET_KEY=your-secret-key-here
SITE_NAME=Real Estate
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

DB_NAME=django_real_estate_btre
DB_USER=postgres
DB_PASSWORD=your-db-password
DB_HOST=localhost
DB_PORT=5432

EMAIL_HOST_USER=your-email@gmail.com
EMAIL_HOST_PASSWORD=your-app-password
