{% extends 'base.html' %}

{% load wagtailcore_tags %}

{% block title %} | About{% endblock %}

{% block content %}
  {% include 'partials/_breadcrumbs.html' with position='before' %}

  {% for block in page.body %}
    {% if block.block_type == 'hero_banner' %}
      {% include_block block %}
    {% endif %}
  {% endfor %}

  {% include 'partials/_breadcrumbs.html' with position='after' %}

  {% for block in page.body %}
    {% if block.block_type != 'hero_banner' %}
      {% include_block block %}
    {% endif %}
  {% endfor %}
{% endblock %}
