<!-- CTA Banner -->
<section id="work" class="bg-dark text-white text-center py-5">
  <h2 class="display-4">{{ value.heading }}</h2>
  {% if value.subtext %}
    <h4>{{ value.subtext }}</h4>
  {% endif %}
  <hr>
  {% if value.button_text and value.button_url %}
    <a href="{{ value.button_url }}" class="btn btn-secondary text-white btn-lg">{{ value.button_text }}</a>
  {% else %}
    <a href="{% url 'listings:listings' %}" class="btn btn-secondary text-white btn-lg">View Our Featured Listings</a>
  {% endif %}
</section>
