{% extends 'base.html' %}
{% load static humanize project_tags %}

{% block title %} | Search Projects{% endblock %}

{% block content %}

  {% include 'partials/_breadcrumbs.html' with position='before' %}

  <section id="showcase-inner" class="showcase-search text-white py-5">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <form action="{% url 'projects:search' %}">
            <div class="row g-3">
              <div class="col-md-4 mb-3">
                <input type="text" name="keywords" class="form-control"
                  placeholder="Keywords" value="{{ values.keywords }}">
              </div>
              <div class="col-md-4 mb-3">
                <input type="text" name="city" class="form-control"
                  placeholder="City" value="{{ values.city }}">
              </div>
              <div class="col-md-4 mb-3">
                <select name="state" class="form-control">
                  <option selected disabled>Region (All)</option>
                  {% for key, val in state_choices.items %}
                    <option value="{{ key }}" {% if key == values.state %}selected{% endif %}>{{ val }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="row g-3">
              <div class="col-md-6 mb-3">
                <select name="bedrooms" class="form-control">
                  <option selected disabled>Bedrooms (Any)</option>
                  {% for key, val in bedroom_choices.items %}
                    <option value="{{ key }}" {% if key == values.bedrooms %}selected{% endif %}>{{ val }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="col-md-6 mb-3">
                <select name="price" class="form-control">
                  <option selected disabled>Max Price (All)</option>
                  {% for key, val in price_choices.items %}
                    <option value="{{ key }}" {% if key == values.price %}selected{% endif %}>{{ val }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <button class="btn-accent w-100 mt-4" type="submit">Search</button>
          </form>
        </div>
      </div>
    </div>
  </section>

  {% include 'partials/_breadcrumbs.html' with position='after' %}

  <section id="projects" class="py-4">
    <div class="container">
      <div class="row">
        {% for project in projects %}
          <div class="col-md-6 col-lg-4 mb-4">
            <div class="card listing-preview">
              {% if project.photo_main %}
                <img class="card-img-top" src="{{ project.photo_main.url }}" alt="">
              {% endif %}
              <div class="card-img-overlay">
                <h2>
                  <span class="badge bg-secondary text-white">{{ project.price|format_price:project.effective_currency }}</span>
                </h2>
              </div>
              <div class="card-body">
                <div class="listing-heading text-center">
                  <h4 class="text-primary">{{ project.title }}</h4>
                  <p>
                    <i class="fas fa-map-marker text-secondary"></i>
                    {{ project.city }} {{ project.state_or_region }}
                  </p>
                </div>
                <hr>
                {% if project.sqft or project.bedrooms %}
                  <div class="row py-2 text-secondary">
                    {% if project.sqft %}
                      <div class="col-6"><i class="fas fa-th-large"></i> {{ project.sqft|intcomma }} sqft</div>
                    {% endif %}
                    {% if project.bedrooms %}
                      <div class="col-6"><i class="fas fa-bed"></i> {{ project.bedrooms }} bed</div>
                    {% endif %}
                  </div>
                {% endif %}
                <div class="row py-2 text-secondary">
                  {% if project.employee %}
                    <div class="col-12"><i class="fas fa-user"></i> {{ project.employee }}</div>
                  {% endif %}
                </div>
                <hr>
                <a href="{% url 'projects:project' project.id %}" class="btn-brand w-100">More Info</a>
              </div>
            </div>
          </div>
        {% empty %}
          <div class="col-md-12">
            <p>No projects matched your search.</p>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>

{% endblock %}
