<!-- Breadcrumb -->
<section id="bc" {% if settings.pages.BrandingSettings.breadcrumb_style == 'overlay' %}class="bc-hero-overlay"{% endif %}>
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="bc-trail">
        <li class="bc-item"><a href="/"><i class="fas fa-home"></i> Home</a></li>
        {% for ancestor in page.get_ancestors %}
          {% if ancestor.depth > 2 %}
            <li class="bc-item"><a href="{{ ancestor.url }}">{{ ancestor.title }}</a></li>
          {% endif %}
        {% endfor %}
        <li class="bc-item bc-item--active">{{ page.title }}</li>
      </ol>
    </nav>
  </div>
</section>
