{% load static wagtailimages_tags %}

<!-- Navbar -->
<style>
  .navbar-brand .logo { max-height: 50px; width: auto; }
</style>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
  <div class="container">
    <a class="navbar-brand" href="/">
      {% if settings.pages.BrandingSettings.logo %}
        {% image settings.pages.BrandingSettings.logo original class="logo" %}
      {% else %}
        <img src="{% static 'img/logo.png' %}" class="logo" alt="">
      {% endif %}
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav">
        <li {% if '/' == request.path %}
          class="nav-item active mr-3"
        {% else %}
          class="nav-item mr-3"
        {% endif %}>
          <a class="nav-link" href="/">Home</a>
        </li>
        <li {% if 'about' in request.path %}
          class="nav-item active mr-3"
        {% else %}
          class="nav-item mr-3"
        {% endif %}>
          <a class="nav-link" href="/about/">About</a>
        </li>
        <li {% if 'listings' in request.path %}
          class="nav-item active mr-3"
        {% else %}
          class="nav-item mr-3"
        {% endif %}>
          <a class="nav-link" href="{% url 'listings:listings' %}">Featured Listings</a>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto">
        {% if user.is_authenticated %}
          <li {% if 'dashboard' in request.path or 'cms' in request.path %}
            class="nav-item active mr-3"
          {% else %}
            class="nav-item mr-3"
          {% endif %}>
            {% if user.is_staff or user.is_superuser %}
              <a class="nav-link" href="/cms/">Dashboard</a>
            {% else %}
              <a class="nav-link" href="{% url 'accounts:dashboard' %}">Dashboard</a>
            {% endif %}
          </li>
          <li class="nav-item mr-3">
            <a class="nav-link" href="javascript:document.getElementById('logout').submit()">
              <i class="fas fa-sign-out-alt"></i> Logout
            </a>
            <form id="logout" action="{% url 'accounts:logout' %}" method="post">
              {% csrf_token %}
              <input type="hidden">
            </form>
          </li>
        {% else %}
          <li {% if 'register' in request.path %}
            class="nav-item active mr-3"
          {% else %}
            class="nav-item mr-3"
          {% endif %}>
            <a class="nav-link" href="{% url 'accounts:register' %}">
              <i class="fas fa-user-plus"></i> Register</a>
          </li>
          <li {% if 'login' in request.path %}
            class="nav-item active mr-3"
          {% else %}
            class="nav-item mr-3"
          {% endif %}>
            <a class="nav-link" href="{% url 'accounts:login' %}">
              <i class="fas fa-sign-in-alt"></i> Login</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
