/* global styles */

a:link, a:visited {
    color: #273C5F;
    transition: 0.5s ease;
}
a:hover {
    color: #1ba87e;
}


/* Header and Title*/
#header {
    background-color: #273C5F;
    height: 50px;
}
#branding h1 {
    color:white
}
#user-tools {
    color: white;
}

#header a {
    color:white;
    transition: 0.3s ease;
}
#header a:hover {
    color: antiquewhite;
}
#header a:visited {
    color: antiquewhite;
}


/* Breadcrumbs */
div .content table {
    background-color: white;
    border-radius: 10px;
}

div .breadcrumbs {
    background-color: #30caa0;
    color: black;
    transition: 0.3s ease;
}
div.breadcrumbs a {
    color: #273C5F;
}
div.breadcrumbs a:hover {
    color: white;
}


/* Sidebar */
.module h2, .module caption, .inline-group h2 {
    background-color: #1ba87e;
}



/* Submit Form Buttons */
.submit-row input {
    background-color: #273C5F;
    color: white;
    transition: 0.3s ease;
}

.submit-row input:hover, .submit-row input.default {
    background-color: #1ba87e;
    color: white;
    transition: 0.3s ease;
}

.submit-row input.default:hover {
    background-color: whitesmoke;
    color:#273C5F;
}


@media (prefers-color-scheme: dark) {
    a:link, a:visited {
        color: #1ba87e;
        transition: 0.5s ease;
    }
    a:hover {
        color:white;
    }

    /* Sidebar */
    .module h2, .module caption, .inline-group h2 {
        background-color: #273C5F;
    }


}